@font-face {
    font-family: "Lato";
    src: url('https://fonts.googleapis.com/css2?family=Lato&family=Signika:wght@300&display=swap');
    font-weight: normal;
    font-style: normal;
}

/* signika-regular - latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap'); /* Google font */
}

nav{
    margin-right : -50px;
    margin-left : -50px;
}

body {
    font-family: 'Lato', sans-serif;
    margin-right : 50px;
    margin-left : 50px;
}


div.custom-banner{
    background: #00B2A9;
    margin-right : -50px;
    margin-left : -50px;
}


div.custom-hotel-list{
    margin-top:100px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn{
    background-color: #00B2A9;
    border-color: #00B2A9;
}

.common-nav{
    background-color: #D0D3D4;

}

footer{
    background: #00B2A9;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: -50px;
    margin-left: -50px;

}

@media (max-width: 700px) {
    .custom-banner, .custom-hotel-list, .btn {
        font-size: 1.5em;
    }
}
