{% extends 'backend/base.html.twig' %}

{% block title %}Création d'un nouvel établissement{% endblock %}

{% block body %}
    <h1>Création d'un nouvel établissement</h1>

    {{ include('backend/hotel/_form.html.twig') }}

    <a href="{{ path('backend_hotel_index') }}">Retour à la liste</a>
{% endblock %}
