{% extends 'backend/base.html.twig' %}

{% block title %}Création d'un nouvel établissement{% endblock %}

{% block body %}
    <h1>Création d'un nouvel établissement</h1>

    <p>{{ include('backend/hotel/_form.html.twig') }}</p>

    <p><a href="{{ path('backend_hotels') }}" class="btn btn-secondary" role="button">Retour à la liste</a></p>
{% endblock %}
