<form method="post" action="{{ path('backend_suite_delete', {'id': suite.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette suite ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suite.id) }}">
    <button class="btn btn-secondary">Supprimer</button>
</form>
