{% extends 'backend/base.html.twig' %}

{% block title %}Création d'une nouvelle réservation{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle réservation</h1>

    <p>{{ include('backend/booking/_form.html.twig') }}</p>

    <p><a href="{{ path('backend_bookings') }}" class="btn btn-primary" role="button">Retour à la liste</a></p>
{% endblock %}
