{% extends 'backend/base.html.twig' %}

{% block title %}Création d'une nouvelle réservation{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle réservation</h1>

    {{ include('backend/booking/_form.html.twig') }}

    <a href="{{ path('backend_bookings') }}">Retour à la liste</a>
{% endblock %}
