{% extends 'backend/base.html.twig' %}

{% block title %}Création d'un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>

    {{ include('backend/user/_form.html.twig') }}

    <a href="{{ path('backend_users') }}">Retour à la liste</a>
{% endblock %}
