{% extends 'backend/base.html.twig' %}

{% block title %}Création d'un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>

    <p>{{ include('backend/user/_form.html.twig') }}</p>

    <p><a href="{{ path('backend_users') }}" class="btn btn-secondary" role="button">Retour à la liste</a></p>
{% endblock %}
